@{
    ViewBag.Title = "About";
}
<h2>Our Services</h2>
@*<h3>@ViewBag.Message</h3>*@
<br /><br />
      <div class="aa" style="min-height:50px">
          <img src="~/fdImages/pho5.jpg" style="float: right; margin-right: 15px;"/>
          <p>
              It's a nice family restaurant. You get the real taste of an India.
              The coconut milk in dishes adds that extra magic and keeps you going in for more.
              The place is on the expensive side.
              Recommended: vendal pal konju(prawns) starter, nool parotta, toddy(which is not real kallu, instead, a light tender coconut milkshake) and unni appam falooda(enjoy the sugar rush).</p>
          <p>Online food ordering allows customers to place an order at virtually any time, from anywhere, saving the time and resources typically spent on travelling to pick up a meal.Online food ordering is the process of ordering food, for delivery or pickup, from a website or other application. The product can be either ready-to-eat food</p>
</div>

