@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    <img src="~/fdImages/online.jpeg" style="float: right; margin-right: 15px; width="400" height="400" />
    Online food delivery<br />
    Kerala, KL 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>